<?xml version="1.0" ?>
<launch>

<!-- Argument for map location -->
<arg name="map_file" default="$(find rrt_planning)/maps/eufs.yaml"/>


<!-- Launch RVIZ -->
<node name="rviz" type="rviz" pkg="rviz" args="" />
<!-- Launch Map Server -->
<node name="map_server" type="map_server" pkg="map_server" args="$(arg map_file)"/>

</launch>